#titulo {
    border: 2px solid #00F; 
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;

    position: sticky;
    top: 10px;
    left: 0;
    width: 100%;
    background-color: white;

}

#datos {
    border: 2px solid #AAF ;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;

}

#ul1 {
    border: 2px solid #0f0;
    margin-right: 10px;
    margin-left: 10px;
}

#descripcion #contenido {
    border: 2px solid #AAF ;
}

#ul2 {
    border: 2px solid #0f0;
}

li {
    margin: 15px;
}

