.login-container{
    width: 300px;

    margin: 100px auto;

    background-color: white;

    padding: 20px;

    border-radius: 10px;

    text-align: center;
}

.login-container input{
    width: 100%;

    padding: 10px;

    margin-top: 10px;

    box-sizing: border-box;
}

.boton-login{
    display: inline-block;

    margin-top: 20px;

    background-color: black;

    color: white;

    padding: 10px 20px;

    text-decoration: none;

    border-radius: 5px;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}

header{
    background-color: black;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 20px;
}

.botones-header button{
    padding: 8px 12px;
    margin-left: 10px;
    cursor: pointer;
}

main{
    padding: 20px;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card-producto{
    width: 200px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

.card-producto img{
    width: 100%;
    border-radius: 10px;
}

.info-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 10px;
}

.info-producto button{
    background-color: black;
    color: white;

    border: none;
    padding: 8px 10px;

    cursor: pointer;
}

.detalle-producto{
    display: flex;

    gap: 40px;

    margin-top: 40px;

    align-items: center;
}

.detalle-producto img{
    width: 200px;

    border-radius: 10px;
}

.detalle-producto button{
    background-color: black;

    color: white;

    border: none;

    padding: 10px 15px;

    cursor: pointer;

    margin-top: 10px;
}